html {
    font-size: 62.5%;
}
body {
    font-size: 1.3rem;
    color: #000000;
    font-family: 'Assistant', sans-serif;
}
img {
    width: 100%;
    vertical-align: bottom;
}
a:hover {
    opacity: 0.7;
    transition: .3s;
}