.header {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Assistant';
    color: #fff;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    .header-nav {
        &__content {
            width: calc( 100% / 3 );
        }
        &__left-item {
            margin-right: 30px;
            &:last-of-type {
                margin-right: 0;
            }
        }
        &__center {
            font-family: 'Pinyon Script';
            font-size: 2rem;
        }
        &__center-title {
            text-align: center;
        }
        &__right-list {
            justify-content: flex-end;
        }
        &__right-item {
            margin-right: 30px;
            font-weight: bold;
            &:last-of-type {
                margin-right: 0;
            }
            .img-wrapper {
                margin-right: 10px;
            }
        }
    }
    .img-wrapper {
        img {
            width: 22px;
            height: 20px;
            object-fit: cover;
        }
    }
}