.item-wrapper {
    width: 100%;
    height: 1100px;
    color: #fff;
    font-family: "Poppins";
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
    &__l {
        width: 50%;
        background-image: url(../img/トレース01_男性A.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    &__r {
        width: 50%;
        &-item {
            height: calc(100% / 3);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
        }
    }
    .shirt {
        background-image: url(../img/トレース01_シャツ.jpg);
    }
    .tie {
        background-image: url(../img/トレース01_ネクタイ.jpg);
    }
    .accessories {
        background-image: url(../img/トレース01_バッグ.jpg);
    }
}